{% extends 'base.html' %}

{% block header %}
    <p>"A Small Deep Learning project combining Flask and Tensorflow for Mood Recognition"</p>
{% endblock %}

{% block content %}

<body>
	<h3>hmmm, let me take a look at your expressions</h3>
	
	<div id="my_camera"></div>
	
	<!-- First, include the Webcam.js JavaScript Library -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/webcam.min.js') }}"></script>
	
	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 640,
			height: 480,
			dest_width: 640,
			dest_height: 480,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
	</script>	
	<form>
		<input type=button value="Send your photo!" onClick="take_snapshot()">
		
	</form>

	<script language="JavaScript">
		function take_snapshot() {
			// take snapshot and get image data
			Webcam.snap( function(data_uri) {
				// sent it to server
				Webcam.upload(data_uri,"{{ url_for('get_user_snap') }}");
			} );
		}
	</script>

</body>
</html>
{% endblock %}